# Next.js
# node_modules/
# .next/
# out/
# .npm
# .eslintcache
# .node_repl_history
# npm-debug.log*
# yarn-debug.log*
# yarn-error.log*
# .yarn-integrity
# .pnp.*
# .yarn/*

# Environment variables
# .env
# .env.local
# .env.development.local
# .env.test.local
# .env.production.local
# .venv
# venv/
# ENV/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
.project
.classpath
.c9/
*.launch
*.sublime-workspace

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore
docker-compose.yml
docker-compose.*.yml

# Other
README.md
LICENSE
.editorconfig
.prettierrc
.prettierignore
.eslintrc
.stylelintrc
jest.config.js
next.config.js
tsconfig.json